include *.rst
include LICENSE
include maykin-auth-matrix/py.typed
recursive-include maykin-auth-matrix *.html
recursive-include maykin-auth-matrix *.txt
recursive-include maykin-auth-matrix *.po
global-exclude __pycache__
global-exclude *.py[co]
