{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<style>
    table#result_list{
        width: 100%;
    }
    td{
        border: 1px solid #ddd; 
    }
    td.text-center{
        text-align: center !important;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="#">Matrix</a>
</div>
{% endblock %}

{% block content %}
<h1> Authorization Matrix </h1>

<h2>{% trans 'User-Group Matrix' %}</h1>
<table class="table table-striped table-bordered table-full-width" id="result_list">
    <thead>
        <tr>
            <th>{% trans 'User' %}</th>
            {% for group in groups %}
            <th>{{ group.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in user_group_matrix %}
        <tr>
            <td>{{ row.user.username }}</td>
            {% for in_group in row.groups %}
            <td class="text-center">{% if in_group %}x{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>{% trans 'Group-Permission Matrix' %}</h1>
<table class="table table-striped table-bordered table-full-width" id="result_list">
    <thead>
        <tr>
            <th>{% trans 'Permission' %}</th>
            {% for group in groups %}
            <th>{{ group.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in group_permission_matrix %}
        <tr>
            <td>{{ row.permission.name }}</td>
            {% for has_permission in row.groups %}
            <td class="text-center">{% if has_permission %}x{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}